h1{
    background-color: #4873bf;
    color: white;
}

#body{
    background-color: #f7f7f7;
    position: relative;
    width: 50%;
    height: 50%;
    margin: 0 auto;

}

#input{
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.submit{
    border-bottom: solid;
}
#inp{
    font-size: 20px;
    background-color: whitesmoke;
    border-top:none;
    border-bottom: solid ;
    border-right:none;
}
.update{
    background-color: #fffe77;
}
#btn{
    background-color: #4873bf;
    color: white;
    border: none;
    padding: 8px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    margin-right:10px;
    margin-bottom: 10px;

}
#title1{
    text-align: center;
}

.statusfalse{
    background-color: #b5caee;
    color: green;
    text-decoration: line-through;
}
.statustrue{
    background-color: whitesmoke;
}

#delete{
    background-image: url("delete.png");
    background-size: 20px 15px;
    background-repeat: no-repeat;
    background-position: left;
    background-color: red;

    border: none;
    padding: 5px 25px;
    text-align: center;
    font-size: 12px;
    border-radius: 4px;
    margin-right:10px;

}
button[id^="modify"]{
    background-image: url("edit.png");
    background-size: 20px 15px;
    background-repeat: no-repeat;
    background-position: left;

    background-color: #ffff00;
    border: none;
    padding: 5px 25px;
    text-align: center;
    font-size: 12px;
    border-radius: 4px;
    margin-right:10px;

}

#complete{
    background-image: url("complete.png");
    background-size: 20px 15px;
    background-repeat: no-repeat;
    background-position: left;
    background-color: #bdffbb;

    border: none;
    padding: 5px 25px;
    text-align: center;
    font-size: 12px;
    border-radius: 4px;


}
h1{
    text-align: center;
}

li[id^="p"]{


    font-size: 20px;
    margin-bottom: 10px;
}
#del{
    height: 15px;
    width: 15px;
}
#com{
    height: 15px;
    width: 15px;
}
div[data-id^="div"]{
    border-bottom: groove;
    margin-bottom: -15px;
}